.NavbarDiv {
    border-top: solid 1px rgb(239, 235, 235);
    border-bottom: solid 1px rgb(239, 235, 235);
    background-color: #f0ecfc;
    background-image: linear-gradient(#f6eff5, rgb(93, 45, 71));
}

.NavlistUl {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 800px;
    list-style:none;
    padding-left:0px;
    color: #280618;
    font-weight: bold;
}

.NavlistUl li {
    min-width: 170px;
    height: auto;
    text-align: center;
}

li {
    text-decoration: none;    
    color: #061228;
}

li:focus, li:hover, a:focus, a:hover {
    text-decoration: none;
    color: rgb(233, 206, 232);
    font-weight: bold;
}

#wine {
    position: relative;
    display: inline-block;
    
}

#winecategory {
    display: none;
    position: absolute;
    background-color: #FFDAB9;
    visibility: hidden;
    min-width: 70px;
    padding: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.Wine {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.Category {
    list-style: none;
    background-color: rgba(201, 199, 202, 0.5);
}

.Wine .Category {
    visibility: hidden;
    padding: 0;
    margin-top: 10px;
    color: white;
    position: absolute;
}

.Wine:hover .Category {
    visibility: visible;
}

.Wine:hover .Category::after {
        content: " ";
        position: absolute;
        top: 100%;
        left: 50%;
        border-width: 10px;
        border-style: solid;
}
