.list {
    border-bottom: 1px solid #DDDDDD;
}

.name {
    margin-top: 5%;
    text-align: center;
}

.buttonHeader {
    color: black;                    
    display: inline-block;
    background-color: white;         
    margin: 0em;
    font-size: larger;
    position: relative;
    width: 90%;
    height: 60px;
    padding: 0 10px;
    text-align: left;
    font-weight: bolder;
}
/* 
 button {
    border: 0;
    background: none;
    outline: none;
    
 } */

 .content {
    /* display: none; */
    padding: 20px 30px 20px 10px;
    border-top: 1px solid #DDDDDD;
    background-color: #F8F8F8;
    color: #554455;
 }

 .all {
    padding-left: 10%;
    padding-right: 10%;
 }

